<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cource.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cource.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @cource.end_date %>
</p>

<p>
  <strong>Max student:</strong>
  <%= @cource.max_student %>
</p>

<%= link_to 'Edit', edit_cource_path(@cource) %> |
<%= link_to 'Back', cources_path %>
